.row {
    display: flex;
}

.outputs {
    border: 1px solid black ;
    height: 40px;
    width: 40px;
    margin: 10px;
}

.correct {
    background-color: green;
}

.nearly {
    background-color: yellow ;
}

.wrong {
    background-color: red;
}

