

body {
    background-color: rgb(221, 219, 219);
    font-family: helvetica;
}

.container {
    text-align: center;
    max-width: auto;
    align-self: auto;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center
}


.row {
    display: flex;
}

.outputs {
    border: 1px solid gray ;
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: slategray;
    border-radius: 10px;
    text-align: center; 
    vertical-align: middle;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    
}

.correct {
    background-color: rgb(83, 136, 83);
}

.nearly {
    background-color: rgb(238, 238, 136) ;
}

.wrong {
    background-color: rgb(216, 78, 78);
}

button {
    border-radius: 5px;
}

#enter {
    height: 30px;
    max-width: auto;
    border-color: gray;
    margin: auto;
}

input {
    border-color: gray;
}

#letter1 {
    height: 30px;
    margin-left: 10px;
}

p > label {
    font-size: 25px;
    padding-top: 10px;
}

form > label {
    text-shadow: 2px white ;
}